@import url(/css/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto");
:root {
  --xl: 992px;
  --md: 768px;
  --xs: 576px;
}

.flex-row {
  display: flex;
  flex: 0 1 100%;
  gap: 16px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex: 0 1 100%;
  gap: 16px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  font-size: 16px;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 400;
}

.container {
  padding: 0 8px;
  margin: 0 auto;
  max-width: 962px;
  height: 100%;
}

.img,
.logo,
img {
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.block-underline {
  border-bottom: 1px solid #979797;
}

.header {
  z-index: 2;
  background: #fff;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
  margin: 0 auto;
  max-width: 100%;
}
.header--fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.header__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}
.header__buttons {
  display: flex;
  align-items: center;
}
.header__in {
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  background-color: #fff;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  width: 78px;
  height: 40px;
  margin: 16px 8px;
}
@media (min-width: 576px) {
  .header__in {
    margin: 16px;
  }
}
.header__basket {
  display: none;
}
@media (min-width: 576px) {
  .header__basket {
    display: block;
    padding: 10px;
  }
}

.search {
  border-bottom: 1px solid #757575;
  opacity: 0.5;
}
.search__form {
  margin: 127px auto 55px;
}
.search__food {
  border: none;
  font-size: 16px;
  line-height: 25px;
  width: 100%;
  color: #626262;
}

.title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.restoran-section {
  padding-bottom: 48px;
}
.restoran-section__title {
  margin: 0 0 16px;
  font-size: 22px;
  line-height: 34px;
}

.restorans {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
  max-width: 100%;
}
.restorans__card {
  flex: 0 1 100%;
  gap: 16px;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
@media (min-width: 576px) {
  .restorans__card {
    flex: 0 1 48%;
  }
}
@media (min-width: 992px) {
  .restorans__card {
    flex: 0 1 32%;
  }
}

.card__image {
  width: 100%;
  height: 256px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__img {
  width: 100%;
  height: 100%;
}
.card__title {
  max-width: 100%;
  margin: 16px 0 4px;
}
.card__discription {
  font-size: 14px;
  line-height: 21px;
  color: #626262;
  margin: 4px 0;
}
.card__delivery-time {
  font-size: 13px;
  line-height: 21px;
  padding-bottom: 20px;
}
.card:hover {
  background: #979797;
  background-color: rgba(117, 117, 117, 0.04);
}

.active {
  flex-basis: 100%;
}

.footer {
  background: #262626;
  max-width: 100%;
  color: #fff;
}
.footer__logo {
  padding: 56px 0 40px;
}
.footer__links {
  padding: 32px 0 40px;
}
.footer__download {
  display: flex;
  flex: 1 2 50%;
  gap: 1.6rem;
  justify-content: center;
  padding: 24px 0;
}
@media (min-width: 768px) {
  .footer__download {
    gap: 2.5rem;
  }
}
.footer__rights {
  padding: 40px 0;
}
@media (min-width: 768px) {
  .footer__rights {
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 96px;
  }
}
.footer__rights p {
  margin: 24px 0;
  font-size: 13px;
}
.footer__rights p:first-child {
  margin: 0;
}
.footer__rights p:last-child {
  margin: 0;
}
@media (min-width: 768px) {
  .footer__rights p {
    margin: 0;
  }
}

.footer-links {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer-links {
    height: 13.75rem;
    flex-wrap: wrap;
  }
}

.language {
  display: flex;
  flex: 0 0 auto;
  background: #3b3b3b;
  border-radius: 2px;
  color: #fff;
  height: 2.5rem;
  width: 11rem;
  padding: 8px;
}
@media (min-width: 992px) {
  .language {
    width: 14rem;
  }
}
.language__icon-word {
  margin: 4px 8px;
}
.language__icon-word img {
  max-width: 100%;
  max-height: 100%;
}
.language__select {
  position: relative;
  color: #fff;
  outline: none;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 13px;
  line-height: 16px;
  padding-right: 48%;
  background: url(../img/icons/arrow-back.svg) right no-repeat #3b3b3b;
}
@media (min-width: 992px) {
  .language__select {
    padding-right: 60%;
  }
}

.social {
  width: 96px;
  height: 59px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 32px;
}
.social__uber-eats {
  display: block;
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 16px;
}

.green-text {
  color: #49a144;
}

.nav {
  padding-top: 7px;
}
.nav__text {
  font-size: 0.8125rem;
  margin-bottom: 1.44rem;
}
.nav__text:last-child {
  margin-bottom: 0;
}

.button-up__btn {
  position: fixed;
  bottom: 24px;
  right: 16px;
  max-width: 64px;
  max-height: 64px;
}
@media (min-width: 768px) {
  .button-up__btn {
    max-width: 100%;
    max-height: 100%;
  }
}

.wrapped {
  margin-top: 72px;
  background: #fff;
}

.banner {
  background: url("../img/Restaurant/banner - xs.png") center center/cover no-repeat;
  height: 255px;
  padding-top: 130px;
}
.banner__card {
  padding: 24px 38px;
  max-width: 308px;
  min-height: 180px;
  background-color: #fff;
  filter: drop-shadow(0px 0px 16px rgba(117, 117, 117, 0.2));
}
.banner__title {
  text-align: center;
  color: #1d1d1d;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.banner__discription {
  margin: 0 auto;
  color: #626262;
  font-size: 14px;
  line-height: normal;
}
.banner__delivery-time {
  color: #fff;
  text-align: center;
  font-size: 12px;
  line-height: normal;
  line-height: 32px;
}
.banner__btn {
  margin: 0 auto;
  width: 98px;
  height: 32px;
  border-radius: 20px;
  background: #262626;
}
@media (min-width: 768px) {
  .banner {
    background: url("../img/Restaurant/banner - md.png") center center/cover no-repeat;
    height: 364px;
    padding-top: 80px;
  }
  .banner__card {
    padding: 38px;
    max-width: 389px;
    min-height: 204px;
  }
  .banner__discription {
    margin: 0;
    line-height: 32px;
  }
  .banner__btn {
    margin: 0;
  }
}

.menu-nav {
  display: none;
}
@media (min-width: 768px) {
  .menu-nav {
    display: block;
    line-height: 80px;
    border-bottom: 1px solid rgba(117, 117, 117, 0.2);
  }
  .menu-nav a {
    margin-right: 40px;
    color: #626262;
  }
  .menu-nav a:hover {
    color: #327430;
  }
}

.menu {
  background: #fff;
  margin: 0 auto 40px;
}
.menu__title {
  margin: 56px auto;
}
.menu__title h3 {
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 154.545% */
}
.menu__br {
  margin: -44px auto 44px;
  background: #000;
  fill: #757575;
  width: 50px;
  height: 1px;
}
.menu__card {
  display: flex;
  flex: 1 1 100%;
  flex-direction: row;
  justify-content: space-between;
  max-height: 160px;
  border-bottom: 1px solid rgba(117, 117, 117, 0.2);
}
.menu__card:hover {
  background: rgba(117, 117, 117, 0.04);
}
.menu__discription {
  margin: 0 0 16px;
  display: flex;
  flex: 0 1 100%;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  line-height: 24px; /* 171.429% */
}
.menu__image {
  max-height: 32vw;
  max-width: 32vw;
}
.menu__img {
  border-radius: 1px;
  flex: 0 1 auto;
  fill: #d8d8d8;
  -o-object-fit: fill;
     object-fit: fill;
}
@media (min-width: 576px) {
  .menu {
    margin: 0 auto 32px;
  }
  .menu__title {
    margin-bottom: 32px;
  }
  .menu__br {
    display: none;
  }
  .menu__discription {
    margin: 16px 24px;
  }
  .menu__card {
    margin-bottom: 16px;
    height: 160px;
    border: 1px solid rgba(117, 117, 117, 0.2);
  }
}
@media (min-width: 992px) {
  .menu {
    margin: 0 auto 47px;
  }
  .menu__card {
    margin-bottom: 33px;
    flex: 0 1 49%;
    border: 1px solid rgba(117, 117, 117, 0.2);
  }
}/*# sourceMappingURL=style.css.map */